In [1]:
import yaml
import os
os.chdir('C:\\Users\\401738\\Downloads\\ipl\\')

### FUNCTION to load each YAML files for a particular IPL season. 
#start and #end variables are the starting and ending file names

In [2]:
def load_data(start , end ):
    matches = []
    for i in range(start, end):
        if os.path.isfile('./'+str(i)+'.yaml'):
            with open('./'+str(i)+'.yaml','r')as f:
                doc= yaml.load(f)
                matches.append(doc)
    return matches

### Calling the above function and passing the start and end file names to load the data.

In [3]:
#m_2008 = load_data(335982,336041)

In [4]:
#m_2009 = load_data(392181,392240 )

In [5]:
#m_2010 = load_data(419106,419166)

In [6]:
#m_2011 = load_data(501198, 501272)

In [7]:
m_2012 = load_data(548306, 548382)

In [8]:
m_2013 = load_data(597998, 598074)

In [9]:
m_2014 = load_data(729279, 734050)

In [10]:
m_2015 = load_data(829705, 829824)

In [11]:
m_2016 = load_data(980901, 981020)

In [12]:
m_2017 = load_data(1082591, 1082651)

In [13]:
os.chdir('C:\\Continuum\\Anaconda2\\envs\\TFENV\\')

### The following function extracts innings information from a SINGLE MATCH,viz runs per over , wickets per over and total runs in each innings in the form of a DICTIONARY object. 
You need to only pass the innings dict.

In [14]:
def extract_innings_data(innings):
    total_runs =0
    k=0.0
    prev=0.0
    over_runs = {}
    over_wickets = {}
    runs= 0
    w_counter = 0
    for i in range(0,len(innings)):
        #if (i==0):
            #print ('Match Started: Over # 1')
        for k , v in innings[i].items():
            if ((prev//1) != (k//1)):
                #print ('Over #', int((prev//1) +1),' completed')
                #print ('Runs Scored #',runs)
                runs+= int(innings[i][k]['runs']['total'])
                if ('wicket' in innings[i][k]):
                    w_counter+=1
                    over_wickets[k] = [w_counter,innings[i][k]['wicket']['player_out'],innings[i][k]['wicket']['kind']]
                    #print (' Over -', k,'Out!!','wicket #',w_counter, innings[i][k]['wicket']['player_out'],innings[i][k]['wicket']['kind'])
                over_runs[int((prev//1) +1)]= int(runs)
                #print ('Over #', int((k//1) +1),' started and running')
                runs = 0
            else:
                #print ('Over #', int((prev//1) +1),' running')
                runs+= int(innings[i][k]['runs']['total'])
                if ('wicket' in innings[i][k]):
                    w_counter+=1
                    over_wickets[k] = [w_counter,innings[i][k]['wicket']['player_out'],innings[i][k]['wicket']['kind']]
                    #rint (' Over -', k,'Out!!','wicket #',w_counter, innings[i][k]['wicket']['player_out'],innings[i][k]['wicket']['kind'])
            prev = k
            total_runs+= innings[i][k]['runs']['total']
        if( i == len(innings) -1 ):
            #print ('Over #', int((prev//1) +1),' completed')
            #print ('Runs Scored #',runs)
            over_runs[int((prev//1) +1)]= int(runs)
    return over_runs , over_wickets , total_runs

### This function wraps the DICTIONARY objects created by the above function for each match and stores the same for all the matches in a season into a LIST object.

In [15]:
def generate_season_data(matches):
    rpo_innings1 = []
    rpo_innings2 = []
    wpo_innings1 = []
    wpo_innings2 = []
    tr_innings1 = []
    tr_innings2 = []
    team_innings1 = []
    team_innings2 = []
    misc_info = []
    
    for i in range(0,len(matches)):
        
        if (len(matches[i]['innings']) > 1):
            
            rpo_i1 , wpo_i1 , tr_i1 = extract_innings_data(matches[i]['innings'][0]['1st innings']['deliveries'])
            rpo_innings1.append(rpo_i1)
            wpo_innings1.append(wpo_i1)
            tr_innings1.append(tr_i1)
            team_innings1.append(matches[i]['innings'][0]['1st innings']['team'])
        
            rpo_i2 , wpo_i2 , tr_i2 = extract_innings_data(matches[i]['innings'][1]['2nd innings']['deliveries'])
            rpo_innings2.append(rpo_i2)
            wpo_innings2.append(wpo_i2)
            tr_innings2.append(tr_i2)
            team_innings2.append(matches[i]['innings'][1]['2nd innings']['team'])
           
            
            misc_info.append([matches[i]['info']['venue'],matches[i]['info']['toss']['winner'],matches[i]['info']['toss']['decision'],matches[i]['info']['outcome']])
        else :
            pass
            
    return rpo_innings1, rpo_innings2 , wpo_innings1 , wpo_innings2 , tr_innings1, tr_innings2, team_innings1 , team_innings2,misc_info

### Calling the above function and creating a series of LIST objects.

In [16]:
#rpo_i1_2008,rpo_i2_2008,wpo_i1_2008,wpo_i2_2008,tr_i1_2008,tr_i2_2008,team_i1_2008,team_i2_2008,misc_info_2008 = generate_season_data(m_2008)
#rpo_i1_2009,rpo_i2_2009,wpo_i1_2009,wpo_i2_2009,tr_i1_2009,tr_i2_2009,team_i1_2009,team_i2_2009,misc_info_2009 = generate_season_data(m_2009)
#rpo_i1_2010,rpo_i2_2010,wpo_i1_2010,wpo_i2_2010,tr_i1_2010,tr_i2_2010,team_i1_2010,team_i2_2010,misc_info_2010 = generate_season_data(m_2010)
#rpo_i1_2011,rpo_i2_2011,wpo_i1_2011,wpo_i2_2011,tr_i1_2011,tr_i2_2011,team_i1_2011,team_i2_2011,misc_info_2011 = generate_season_data(m_2011)
rpo_i1_2012,rpo_i2_2012,wpo_i1_2012,wpo_i2_2012,tr_i1_2012,tr_i2_2012,team_i1_2012,team_i2_2012,misc_info_2012 = generate_season_data(m_2012)
rpo_i1_2013,rpo_i2_2013,wpo_i1_2013,wpo_i2_2013,tr_i1_2013,tr_i2_2013,team_i1_2013,team_i2_2013,misc_info_2013 = generate_season_data(m_2013)
rpo_i1_2014,rpo_i2_2014,wpo_i1_2014,wpo_i2_2014,tr_i1_2014,tr_i2_2014,team_i1_2014,team_i2_2014,misc_info_2014 = generate_season_data(m_2014)
rpo_i1_2015,rpo_i2_2015,wpo_i1_2015,wpo_i2_2015,tr_i1_2015,tr_i2_2015,team_i1_2015,team_i2_2015,misc_info_2015 = generate_season_data(m_2015)
rpo_i1_2016,rpo_i2_2016,wpo_i1_2016,wpo_i2_2016,tr_i1_2016,tr_i2_2016,team_i1_2016,team_i2_2016,misc_info_2016 = generate_season_data(m_2016)
rpo_i1_2017,rpo_i2_2017,wpo_i1_2017,wpo_i2_2017,tr_i1_2017,tr_i2_2017,team_i1_2017,team_i2_2017,misc_info_2017 = generate_season_data(m_2017)

In [17]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model 
%matplotlib inline

### This function takes wickets per over dictionary created earlier, and returns the total wickets that has fallen during a match for a particular team.

In [18]:
def add_wpo(wpo):  
    wickets= []
    for i in range(len(wpo)):
        wickets.append([(int(k//1) + 1) for k, v in wpo[i].items()])
    wickets_full=[]
    for li in wickets:
        wickets_full.append([0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0])
        for i in li:
            if i in range(1,21):
                wickets_full[wickets.index(li)][i-1] += 1 
    return wickets_full

### This function below creates a full Dataset combining all the above extracted information on an innings level.

In [19]:
def create_full_dataset(rpo_inn, tr_inn , wpo_inn, team_inn):
    rpo_inn_df = pd.DataFrame.from_dict(rpo_inn)
    tr_inn_df = pd.DataFrame(tr_inn, columns =['Total'])
    w_inn_df = pd.DataFrame([len(i) for i in wpo_inn], columns = ['wickets'])
    runs_wickets_inn_df = w_inn_df.join(tr_inn_df)

    wickets_full = add_wpo(wpo_inn)
    wickets_df = pd.DataFrame(wickets_full,columns=['wickts_1','wickts_2','wickts_3','wickts_4','wickts_5','wickts_6',
                     'wickts_7','wickts_8','wickts_9','wickts_10','wickts_11','wickts_12','wickts_13','wickts_14',
                     'wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20'])
    inn_df = rpo_inn_df.join(wickets_df)
    inn_df = inn_df.join(runs_wickets_inn_df)
    inn_df.columns = ['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20',
                     'wickets','Total']
    inn_df = inn_df.join(pd.DataFrame(team_inn , columns = ['batting_team']))
    return inn_df

In [20]:
i1_df = create_full_dataset(rpo_i1_2012, tr_i1_2012, wpo_i1_2012,team_i1_2012)
i2_df = create_full_dataset(rpo_i2_2012, tr_i2_2012, wpo_i2_2012,team_i2_2012)

In [21]:
i1_df_2013 = create_full_dataset(rpo_i1_2013, tr_i1_2013, wpo_i1_2013,team_i1_2013)
i2_df_2013 = create_full_dataset(rpo_i2_2013, tr_i2_2013, wpo_i2_2013,team_i2_2013)

i1_df_2014 = create_full_dataset(rpo_i1_2014, tr_i1_2014, wpo_i1_2014,team_i1_2014)
i2_df_2014 = create_full_dataset(rpo_i2_2014, tr_i2_2014, wpo_i2_2014,team_i2_2014)

i1_df_2015 = create_full_dataset(rpo_i1_2015, tr_i1_2015, wpo_i1_2015,team_i1_2015)
i2_df_2015 = create_full_dataset(rpo_i2_2015, tr_i2_2015, wpo_i2_2015,team_i2_2015)

i1_df_2016 = create_full_dataset(rpo_i1_2016, tr_i1_2016, wpo_i1_2016,team_i1_2016)
i2_df_2016 = create_full_dataset(rpo_i2_2016, tr_i2_2016, wpo_i2_2016,team_i2_2016)

i1_df_2017 = create_full_dataset(rpo_i1_2017, tr_i1_2017, wpo_i1_2017,team_i1_2017)
i2_df_2017 = create_full_dataset(rpo_i2_2017, tr_i2_2017, wpo_i2_2017,team_i2_2017)

In [22]:
def change_winner(misc):
    for n in range(0,len(misc)):
        if 'winner' in misc[n][3].keys():
            misc[n][3] = misc[n][3]['winner']
        else : misc[n][3] = 'NA'
    return misc

In [23]:
misc_info_2012 = change_winner(misc_info_2012)
misc_info_2013 = change_winner(misc_info_2013)
misc_info_2014 = change_winner(misc_info_2014)
misc_info_2015 = change_winner(misc_info_2015)
misc_info_2016 = change_winner(misc_info_2016)
misc_info_2017 = change_winner(misc_info_2017)

In [24]:
misc_df = pd.DataFrame(misc_info_2012, columns =['venue','toss_winner','toss_decision','match_winner'])
misc_df_2013 = pd.DataFrame(misc_info_2013, columns =['venue','toss_winner','toss_decision','match_winner'])
misc_df_2014 = pd.DataFrame(misc_info_2014, columns =['venue','toss_winner','toss_decision','match_winner'])
misc_df_2015 = pd.DataFrame(misc_info_2015, columns =['venue','toss_winner','toss_decision','match_winner'])
misc_df_2016 = pd.DataFrame(misc_info_2016, columns =['venue','toss_winner','toss_decision','match_winner'])
misc_df_2017 = pd.DataFrame(misc_info_2017, columns =['venue','toss_winner','toss_decision','match_winner'])

In [25]:
i1_df_new = i1_df.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)

i2_df_new = i2_df.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)

i1_df_2013new = i1_df_2013.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)

i2_df_2013new = i2_df_2013.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)
i1_df_2014new = i1_df_2014.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)

i2_df_2014new = i2_df_2014.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)
i1_df_2015new = i1_df_2015.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)

i2_df_2015new = i2_df_2015.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)
i1_df_2016new = i1_df_2016.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)

i2_df_2016new = i2_df_2016.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)
i1_df_2017new = i1_df_2017.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)

i2_df_2017new = i2_df_2017.drop(['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20']
                       , axis=1)

In [26]:
i1_df_new = i1_df_new.join(misc_df)
i2_df_new = i2_df_new.join(misc_df)

i1_df_2013new = i1_df_2013new.join(misc_df_2013)
i2_df_2013new = i2_df_2013new.join(misc_df_2013)

i1_df_2014new = i1_df_2014new.join(misc_df_2014)
i2_df_2014new = i2_df_2014new.join(misc_df_2014)

i1_df_2015new = i1_df_2015new.join(misc_df_2015)
i2_df_2015new = i2_df_2015new.join(misc_df_2015)

i1_df_2016new = i1_df_2016new.join(misc_df_2016)
i2_df_2016new = i2_df_2016new.join(misc_df_2016)

i1_df_2017new = i1_df_2017new.join(misc_df_2017)
i2_df_2017new = i2_df_2017new.join(misc_df_2017)

In [27]:
i1_df_new = i1_df_new.join(pd.DataFrame(list(i1_df['wickts_1'] + i1_df['wickts_2']+ i1_df['wickts_3']+ i1_df['wickts_4']+ 
                                             i1_df['wickts_5']+ i1_df['wickts_6']),columns=['wickets_6overs']))
i2_df_new = i2_df_new.join(pd.DataFrame(list(i2_df['wickts_1'] + i2_df['wickts_2']+ i2_df['wickts_3']+ i2_df['wickts_4']+ 
                                             i2_df['wickts_5']+ i2_df['wickts_6']),columns=['wickets_6overs']))

i1_df_2013new = i1_df_2013new.join(pd.DataFrame(list(i1_df_2013['wickts_1'] + i1_df_2013['wickts_2']+ i1_df_2013['wickts_3']+ 
                            i1_df_2013['wickts_4']+ i1_df_2013['wickts_5']+ i1_df_2013['wickts_6']),columns=['wickets_6overs']))
i2_df_2013new = i2_df_2013new.join(pd.DataFrame(list(i2_df_2013['wickts_1'] + i2_df_2013['wickts_2']+ i2_df_2013['wickts_3']+ 
                            i2_df_2013['wickts_4']+ i2_df_2013['wickts_5']+ i2_df_2013['wickts_6']),columns=['wickets_6overs']))

i1_df_2014new = i1_df_2014new.join(pd.DataFrame(list(i1_df_2014['wickts_1'] + i1_df_2014['wickts_2']+ i1_df_2014['wickts_3']+ 
                            i1_df_2014['wickts_4']+ i1_df_2014['wickts_5']+ i1_df_2014['wickts_6']),columns=['wickets_6overs']))
i2_df_2014new = i2_df_2014new.join(pd.DataFrame(list(i2_df_2014['wickts_1'] + i2_df_2014['wickts_2']+ i2_df_2014['wickts_3']+ 
                            i2_df_2014['wickts_4']+ i2_df_2014['wickts_5']+ i2_df_2014['wickts_6']),columns=['wickets_6overs']))

i1_df_2015new = i1_df_2015new.join(pd.DataFrame(list(i1_df_2015['wickts_1'] + i1_df_2015['wickts_2']+ i1_df_2015['wickts_3']+
                            i1_df_2015['wickts_4']+ i1_df_2015['wickts_5']+ i1_df_2015['wickts_6']),columns=['wickets_6overs']))
i2_df_2015new = i2_df_2015new.join(pd.DataFrame(list(i2_df_2015['wickts_1'] + i2_df_2015['wickts_2']+ i2_df_2015['wickts_3']+ 
                            i2_df_2015['wickts_4']+ i2_df_2015['wickts_5']+ i2_df_2015['wickts_6']),columns=['wickets_6overs']))

i1_df_2016new = i1_df_2016new.join(pd.DataFrame(list(i1_df_2016['wickts_1'] + i1_df_2016['wickts_2']+ i1_df_2016['wickts_3']+ 
                            i1_df_2016['wickts_4']+ i1_df_2016['wickts_5']+ i1_df_2016['wickts_6']),columns=['wickets_6overs']))
i2_df_2016new = i2_df_2016new.join(pd.DataFrame(list(i2_df_2016['wickts_1'] + i2_df_2016['wickts_2']+ i2_df_2016['wickts_3']+ 
                            i2_df_2016['wickts_4']+ i2_df_2016['wickts_5']+ i2_df_2016['wickts_6']),columns=['wickets_6overs']))

i1_df_2017new = i1_df_2017new.join(pd.DataFrame(list(i1_df_2017['wickts_1'] + i1_df_2017['wickts_2']+ i1_df_2017['wickts_3']+ 
                            i1_df_2017['wickts_4']+ i1_df_2017['wickts_5']+ i1_df_2017['wickts_6']),columns=['wickets_6overs']))
i2_df_2017new = i2_df_2017new.join(pd.DataFrame(list(i2_df_2017['wickts_1'] + i2_df_2017['wickts_2']+ i2_df_2017['wickts_3']+ 
                            i2_df_2017['wickts_4']+ i2_df_2017['wickts_5']+ i2_df_2017['wickts_6']),columns=['wickets_6overs']))

In [28]:
i1_df_new = i1_df_new.join(pd.DataFrame(list(i1_df['runs_1'] + i1_df['runs_2']+ i1_df['runs_3']+ i1_df['runs_4']+ 
                                             i1_df['runs_5']+ i1_df['runs_6']),columns=['runs_6overs']))
i2_df_new = i2_df_new.join(pd.DataFrame(list(i2_df['runs_1'] + i2_df['runs_2']+ i2_df['runs_3']+ i2_df['runs_4']+ 
                                             i2_df['runs_5']+ i2_df['runs_6']),columns=['runs_6overs']))

i1_df_2013new = i1_df_2013new.join(pd.DataFrame(list(i1_df_2013['runs_1'] + i1_df_2013['runs_2']+ i1_df_2013['runs_3']+ 
                                i1_df_2013['runs_4']+ i1_df_2013['runs_5']+ i1_df_2013['runs_6']),columns=['runs_6overs']))
i2_df_2013new = i2_df_2013new.join(pd.DataFrame(list(i2_df_2013['runs_1'] + i2_df_2013['runs_2']+ i2_df_2013['runs_3']+ 
                                i2_df_2013['runs_4']+ i2_df_2013['runs_5']+ i2_df_2013['runs_6']),columns=['runs_6overs']))

i1_df_2014new = i1_df_2014new.join(pd.DataFrame(list(i1_df_2014['runs_1'] + i1_df_2014['runs_2']+ i1_df_2014['runs_3']+ 
                                i1_df_2014['runs_4']+ i1_df_2014['runs_5']+ i1_df_2014['runs_6']),columns=['runs_6overs']))
i2_df_2014new = i2_df_2014new.join(pd.DataFrame(list(i2_df_2014['runs_1'] + i2_df_2014['runs_2']+ i2_df_2014['runs_3']+ 
                                i2_df_2014['runs_4']+ i2_df_2014['runs_5']+ i2_df_2014['runs_6']),columns=['runs_6overs']))

i1_df_2015new = i1_df_2015new.join(pd.DataFrame(list(i1_df_2015['runs_1'] + i1_df_2015['runs_2']+ i1_df_2015['runs_3']+ 
                                i1_df_2015['runs_4']+ i1_df_2015['runs_5']+ i1_df_2015['runs_6']),columns=['runs_6overs']))
i2_df_2015new = i2_df_2015new.join(pd.DataFrame(list(i2_df_2015['runs_1'] + i2_df_2015['runs_2']+ i2_df_2015['runs_3']+ 
                              i2_df_2015['runs_4']+ i2_df_2015['runs_5']+ i2_df_2015['runs_6']),columns=['runs_6overs']))

i1_df_2016new = i1_df_2016new.join(pd.DataFrame(list(i1_df_2016['runs_1'] + i1_df_2016['runs_2']+ i1_df_2016['runs_3']+
                               i1_df_2016['runs_4']+ i1_df_2016['runs_5']+ i1_df_2016['runs_6']),columns=['runs_6overs']))
i2_df_2016new = i2_df_2016new.join(pd.DataFrame(list(i2_df_2016['runs_1'] + i2_df_2016['runs_2']+ i2_df_2016['runs_3']+ 
                              i2_df_2016['runs_4']+ i2_df_2016['runs_5']+ i2_df_2016['runs_6']),columns=['runs_6overs']))

i1_df_2017new = i1_df_2017new.join(pd.DataFrame(list(i1_df_2017['runs_1'] + i1_df_2017['runs_2']+ i1_df_2017['runs_3']+ 
                              i1_df_2017['runs_4']+  i1_df_2017['runs_5']+ i1_df_2017['runs_6']),columns=['runs_6overs']))
i2_df_2017new = i2_df_2017new.join(pd.DataFrame(list(i2_df_2017['runs_1'] + i2_df_2017['runs_2']+ i2_df_2017['runs_3']+ 
                               i2_df_2017['runs_4']+ i2_df_2017['runs_5']+ i2_df_2017['runs_6']),columns=['runs_6overs']))

In [29]:
i1_df_new['toss'] = 0
i2_df_new['toss'] = 0

i1_df_new.loc[i1_df_new['batting_team'] == i1_df_new['toss_winner'],'toss'] = 1
i2_df_new.loc[i2_df_new['batting_team'] == i2_df_new['toss_winner'],'toss'] = 1


i1_df_2013new['toss'] = 0
i2_df_2013new['toss'] = 0

i1_df_2013new.loc[i1_df_2013new['batting_team'] == i1_df_2013new['toss_winner'],'toss'] = 1
i2_df_2013new.loc[i2_df_2013new['batting_team'] == i2_df_2013new['toss_winner'],'toss'] = 1

i1_df_2014new['toss'] = 0
i2_df_2014new['toss'] = 0

i1_df_2014new.loc[i1_df_2014new['batting_team'] == i1_df_2014new['toss_winner'],'toss'] = 1
i2_df_2014new.loc[i2_df_2014new['batting_team'] == i2_df_2014new['toss_winner'],'toss'] = 1


i1_df_2015new['toss'] = 0
i2_df_2015new['toss'] = 0

i1_df_2015new.loc[i1_df_2015new['batting_team'] == i1_df_2015new['toss_winner'],'toss'] = 1
i2_df_2015new.loc[i2_df_2015new['batting_team'] == i2_df_2015new['toss_winner'],'toss'] = 1


i1_df_2016new['toss'] = 0
i2_df_2016new['toss'] = 0

i1_df_2016new.loc[i1_df_2016new['batting_team'] == i1_df_2016new['toss_winner'],'toss'] = 1
i2_df_2016new.loc[i2_df_2016new['batting_team'] == i2_df_2016new['toss_winner'],'toss'] = 1


i1_df_2017new['toss'] = 0
i2_df_2017new['toss'] = 0

i1_df_2017new.loc[i1_df_2017new['batting_team'] == i1_df_2017new['toss_winner'],'toss'] = 1
i2_df_2017new.loc[i2_df_2017new['batting_team'] == i2_df_2017new['toss_winner'],'toss'] = 1

In [30]:
i1_df_new['year'] = 2012
i2_df_new['year'] = 2012

i1_df_2013new['year'] = 2013
i2_df_2013new['year'] = 2013

i1_df_2014new['year'] = 2014
i2_df_2014new['year'] = 2014

i1_df_2015new['year'] = 2015
i2_df_2015new['year'] = 2015

i1_df_2016new['year'] = 2016
i2_df_2016new['year'] = 2016

i1_df_2017new['year'] = 2017
i2_df_2017new['year'] = 2017

In [31]:
i1_df_new['winner'] = 0
i2_df_new['winner'] = 0

i1_df_new.loc[i1_df_new['batting_team'] == i1_df_new['match_winner'],'winner'] = 1
i2_df_new.loc[i2_df_new['batting_team'] == i2_df_new['match_winner'],'winner'] = 1

i1_df_2013new['winner'] = 0
i2_df_2013new['winner'] = 0

i1_df_2013new.loc[i1_df_2013new['batting_team'] == i1_df_2013new['match_winner'],'winner'] = 1
i2_df_2013new.loc[i2_df_2013new['batting_team'] == i2_df_2013new['match_winner'],'winner'] = 1

i1_df_2014new['winner'] = 0
i2_df_2014new['winner'] = 0

i1_df_2014new.loc[i1_df_2014new['batting_team'] == i1_df_2014new['match_winner'],'winner'] = 1
i2_df_2014new.loc[i2_df_2014new['batting_team'] == i2_df_2014new['match_winner'],'winner'] = 1

i1_df_2015new['winner'] = 0
i2_df_2015new['winner'] = 0

i1_df_2015new.loc[i1_df_2015new['batting_team'] == i1_df_2015new['match_winner'],'winner'] = 1
i2_df_2015new.loc[i2_df_2015new['batting_team'] == i2_df_2015new['match_winner'],'winner'] = 1

i1_df_2016new['winner'] = 0
i2_df_2016new['winner'] = 0

i1_df_2016new.loc[i1_df_2016new['batting_team'] == i1_df_2016new['match_winner'],'winner'] = 1
i2_df_2016new.loc[i2_df_2016new['batting_team'] == i2_df_2016new['match_winner'],'winner'] = 1

i1_df_2017new['winner'] = 0
i2_df_2017new['winner'] = 0

i1_df_2017new.loc[i1_df_2017new['batting_team'] == i1_df_2017new['match_winner'],'winner'] = 1
i2_df_2017new.loc[i2_df_2017new['batting_team'] == i2_df_2017new['match_winner'],'winner'] = 1

In [32]:
i1_df_new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)
i2_df_new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)

i1_df_2013new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)
i2_df_2013new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)

i1_df_2014new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)
i2_df_2014new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)

i1_df_2015new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)
i2_df_2015new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)

i1_df_2016new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)
i2_df_2016new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)

i1_df_2017new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)
i2_df_2017new.drop(['toss_winner','toss_decision'],axis=1,inplace=True)

In [33]:
#i1_df_new = i1_df_new.join(pd.get_dummies(i1_df_new['venue']))

In [34]:
i1_full = i1_df_new.append(i1_df_2013new.append(i1_df_2014new.append(i1_df_2015new.append(i1_df_2016new.append(i1_df_2017new)))))
i2_full = i2_df_new.append(i2_df_2013new.append(i2_df_2014new.append(i2_df_2015new.append(i2_df_2016new.append(i2_df_2017new)))))

In [35]:
i1_full.loc[i1_full['batting_team'] == 'Rising Pune Supergiant','batting_team'] = 'Rising Pune Supergiants'
i2_full.loc[i2_full['batting_team'] == 'Rising Pune Supergiant','batting_team'] = 'Rising Pune Supergiants'

In [36]:
#i1_full.to_csv('Innings1_Full_data.csv')
#i2_full.to_csv('Innings2_Full_data.csv')

#i1_full

In [37]:
i1_full['toss_and_match_winner'] = 0
i1_full.loc[(i1_full['toss'] == 1) & (i1_full['winner'] == 1),'toss_and_match_winner'] = 1

i1_full['toss_and_match_loser'] = 0
i1_full.loc[(i1_full['toss'] == 0) & (i1_full['winner'] == 0),'toss_and_match_loser'] = 1

i1_full['toss_win_match_lose'] = 0
i1_full.loc[(i1_full['toss'] == 1) & (i1_full['winner'] == 0),'toss_win_match_lose'] = 1

i1_full['toss_lose_match_win'] = 0
i1_full.loc[(i1_full['toss'] == 0) & (i1_full['winner'] == 1),'toss_lose_match_win'] = 1

i2_full['toss_and_match_winner'] = 0
i2_full.loc[(i2_full['toss'] == 1) & (i2_full['winner'] == 1),'toss_and_match_winner'] = 1

i2_full['toss_and_match_loser'] = 0
i2_full.loc[(i2_full['toss'] == 0) & (i2_full['winner'] == 0),'toss_and_match_loser'] = 1

i2_full['toss_win_match_lose'] = 0
i2_full.loc[(i2_full['toss'] == 1) & (i2_full['winner'] == 0),'toss_win_match_lose'] = 1

i2_full['toss_lose_match_win'] = 0
i2_full.loc[(i2_full['toss'] == 0) & (i2_full['winner'] == 1),'toss_lose_match_win'] = 1

### Function to create Venue-wise and innings-wise match result

In [38]:
from collections import OrderedDict

In [39]:
def agg_wkts_runs_by(df,para):
    result = df.groupby(para,as_index=False).agg(OrderedDict([('winner','count'),('wickets','mean'),
                                   ('Total','mean'),('toss_and_match_winner','sum'),
                                   ('toss_and_match_loser','sum'),('toss_win_match_lose','sum'),
                                   ('toss_lose_match_win','sum')])).round().rename(columns =
                                                                                   {'winner':'Matches','Total':'Score',
                                                                                  'wickets':'Wickets'})
    return result

### Teams win-lose stats when Batting in 1st innings

In [40]:
i1_teams_agg = agg_wkts_runs_by(i1_full,['batting_team'])#[agg_wkts_runs_by(i1_full,['batting_team'])['Matches'] > 20]
i1_teams_agg

,batting_team,Matches,Wickets,Score,toss_and_match_winner,toss_and_match_loser,toss_win_match_lose,toss_lose_match_win
0,Chennai Super Kings,38,5.0,165.0,12,8,8,10
1,Deccan Chargers,11,6.0,161.0,2,3,5,1
2,Delhi Daredevils,37,7.0,150.0,4,20,7,6
3,Gujarat Lions,14,7.0,162.0,0,12,1,1
4,Kings XI Punjab,49,7.0,160.0,1,18,11,19
5,Kolkata Knight Riders,37,6.0,156.0,8,14,5,10
6,Mumbai Indians,49,6.0,163.0,15,11,10,13
7,Pune Warriors,14,6.0,152.0,3,2,6,3
8,Rajasthan Royals,30,6.0,163.0,6,6,11,7
9,Rising Pune Supergiants,15,6.0,162.0,0,7,3,5
10,Royal Challengers Bangalore,47,5.0,173.0,5,19,7,16
11,Sunrisers Hyderabad,46,6.0,161.0,7,12,11,16

### Teams win-lose stats when Batting in 2nd innings

In [41]:
i2_teams_agg = agg_wkts_runs_by(i2_full,['batting_team'])#[agg_wkts_runs_by(i2_full,['batting_team'])['Matches'] > 20]
i2_teams_agg

,batting_team,Matches,Wickets,Score,toss_and_match_winner,toss_and_match_loser,toss_win_match_lose,toss_lose_match_win
0,Chennai Super Kings,31,5.0,152.0,10,6,5,10
1,Deccan Chargers,4,7.0,136.0,0,1,2,1
2,Delhi Daredevils,53,6.0,149.0,13,13,16,11
3,Gujarat Lions,16,6.0,162.0,10,0,4,2
4,Kings XI Punjab,42,6.0,150.0,14,8,13,7
5,Kolkata Knight Riders,56,5.0,148.0,22,5,16,13
6,Mumbai Indians,49,6.0,154.0,17,5,14,13
7,Pune Warriors,18,7.0,136.0,0,10,6,2
8,Rajasthan Royals,31,6.0,149.0,9,5,8,9
9,Rising Pune Supergiants,15,5.0,140.0,8,3,2,2
10,Royal Challengers Bangalore,42,6.0,141.0,16,5,17,4
11,Sunrisers Hyderabad,30,5.0,141.0,10,5,7,8

### Venue-wise win-lose stats when Batting in 1st innings

In [42]:
i1_venue_agg = agg_wkts_runs_by(i1_full,['venue'])[agg_wkts_runs_by(i1_full,['venue'])['Matches'] > 20]
i1_venue_agg

,venue,Matches,Wickets,Score,toss_and_match_winner,toss_and_match_loser,toss_win_match_lose,toss_lose_match_win
4,Eden Gardens,40,6.0,158.0,6,16,8,10
5,Feroz Shah Kotla,40,6.0,162.0,7,15,8,10
10,M Chinnaswamy Stadium,45,6.0,172.0,3,23,3,16
11,"MA Chidambaram Stadium, Chepauk",25,5.0,165.0,10,3,7,5
15,"Rajiv Gandhi International Stadium, Uppal",35,6.0,152.0,4,7,14,10
23,Wankhede Stadium,42,6.0,168.0,9,12,7,14

### Venue-wise win-lose stats when Batting in 2nd innings

In [43]:
i2_venue_agg = agg_wkts_runs_by(i2_full,['venue'])[agg_wkts_runs_by(i2_full,['venue'])['Matches'] > 15]
i2_venue_agg

,venue,Matches,Wickets,Score,toss_and_match_winner,toss_and_match_loser,toss_win_match_lose,toss_lose_match_win
4,Eden Gardens,40,5.0,148.0,16,6,10,8
5,Feroz Shah Kotla,40,6.0,148.0,15,7,10,8
10,M Chinnaswamy Stadium,45,6.0,148.0,21,3,18,3
11,"MA Chidambaram Stadium, Chepauk",25,6.0,150.0,3,10,5,7
14,"Punjab Cricket Association Stadium, Mohali",19,5.0,147.0,8,2,5,4
15,"Rajiv Gandhi International Stadium, Uppal",35,5.0,142.0,7,5,10,13
18,Sawai Mansingh Stadium,16,6.0,146.0,4,2,4,6
22,Subrata Roy Sahara Stadium,17,7.0,132.0,0,9,2,6
23,Wankhede Stadium,42,6.0,156.0,12,9,14,7

In [43]:
#i1_df_new.drop(['winner','wickets'],axis=1,inplace=True)

### ML Code for Prediction

In [44]:
y= np.array(i1_df_new['Total'])

In [45]:
i1_df_new.drop(['Total'],axis=1,inplace=True)

In [46]:
x = np.matrix(i1_df_new)

In [47]:
x.shape

(74, 9)

In [48]:
y

array([112,  97, 129, 191, 157, 193, 164, 166, 138, 165, 110, 197, 205,
       115, 131, 157, 155, 134, 195,  92, 196, 182, 124, 187, 164, 163,
       146, 192, 163, 126, 189, 146, 168, 177, 207, 156, 190, 152, 100,
       139, 186, 141, 158, 120, 160, 150, 177, 173, 181, 153, 125, 170,
       141, 126, 173, 182, 114, 170, 190, 171, 158, 136, 140, 120, 215,
       126, 141, 136, 132, 162, 162, 187, 222, 190], dtype=int64)

In [49]:
x_train = x[0:50]
x_test = x[51:73]
y_train = y[0:50]
y_test = y[51:73]

In [50]:
scaler = StandardScaler()

In [51]:
scaler.fit(x_train)

ValueError: could not convert string to float: 'Kolkata Knight Riders'

In [ ]:
x_train= scaler.transform(x_train)

In [ ]:
x_test= scaler.transform(x_test)

In [ ]:
scaler2 = StandardScaler()
scaler2.fit(y_train)

In [ ]:
y_train = scaler2.transform(y_train)

In [ ]:
y_test = scaler2.transform(y_test)

In [ ]:
from sklearn.svm import SVR

In [ ]:
reg =SVR(C=1.0, epsilon=0.2 , kernel='linear' )

#reg = linear_model.()

In [ ]:
reg.fit(x_train,y_train)

In [ ]:
reg.score(x_train,y_train)

In [ ]:
scaler2.inverse_transform(reg.predict(x_test))

In [ ]:
scaler2.inverse_transform(y_test)

In [ ]:
reg.score(x_test,y_test)